.tooltip-inner {
  p:last-of-type {
    margin-bottom: 0;
  }

  a {
    // Make links use the regular text color, as they're only included for copy/paste,
    // not for clicking by the user
    color: inherit;
  }
}
