// noinspection CssInvalidAtRule for https://youtrack.jetbrains.com/issue/WEB-43358
@import-normalize;
// App variables and overrides for Twitter Bootstrap
@import './styles/variables';
// Twitter Bootstrap and its default variables
// node-sass along with Yarn 2, which defaults to using PnP, does not resolve
// this import; see https://github.com/webpack-contrib/sass-loader/issues/802
// https://github.com/facebook/create-react-app/issues/8757
@import '~bootstrap/scss/bootstrap.scss';

.App {
  text-align: center;
}

.App-header {
  //background-color: $primary-background;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Result-unit {
  font-size: 40%;
  display: inline-block;
  text-align: left;
}

.sf {
  //float: left;
}

.bw {
  font-size: 50%;
  line-height: 1em;
  margin-top: 5%;
  float: right;
}
